<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body>

<style>
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&display=swap');
</style>





<div style="background: linear-gradient(black, #6c5f7d);
			height: 100px; 
			width:100%"></div>

<div style="font-family: 'Cormorant Unicase', serif;
            margin-left: 13%;
            margin-right: 13%;">

<div style="font-weight: bold;
			font-size: 120%;
			height: auto;
			width:100%;
			padding: 10px;
			color: black;
			"
			
	align="center">Здравствуйте, (Кто-то там)!</div> <br>

Это <span style="font-weight: bold; color:#461e63">Supply Director</span>, платформа для восстановления нарушенный цепей поставок, 
а также поиска новых поставщиков и заказчиков. Предлагаем Вам зарегистрироваться на сайте:
<div align="center"
	 style="font-size:150%;">
	<a href="https://neochainer.space/app/landing">SupplyDirector</a>
</div>

<div style="margin-top:45px">
Наша платформа предлагает Вам услуги автоматизированного поиска новых поставщиков и размещения собственных товаров и услуг. Поиск осуществляется при помощи комплексной оценки экспертной системы.
</div>

<div style="margin-top:45px;
            font-size: 130%;
            font-weight: bold;
            color:#461e63;"
     align="center">
Преимущества работы с нами
</div> 

<div style="margin-left:10%;
            font-weight: bold;
            font-size:115%;
            margin-top:35px;">
Для заказчиков:
</div>

<ul style="list-style-type: disclosure-closed;
           color: #6d597a;
           margin-left: 4%;">
  <li>Поиск товаров и оборудования по базе данных</li>
  <li>Поиск подрядчиков для выполнения уникальных заказов</li>
  <li>Система рекомендации производителя с учетом сроков исполнения заказа, цены и качества</li>
</ul>


<div style="margin-left:10%;
            font-weight: bold;
            font-size:115%;
            margin-top:35px;">
Для производителей:
</div>

<ul style="list-style-type: disclosure-closed;
           color: #6d597a;
           margin-left: 4%;">
  <li>Размещение продукции и товаров на нашей площадке</li>
  <li>Автоматизированный поиск новых клиентов</li>
  <li>Система оповещений о необходимых рынку товарах</li>
</ul>


</div>

<!--<form action="https://neochainer.space/app/landing">
    <button type="submit"
            style="background-color:#846e91;
                   color: white;
				   padding: 15px 32px;
				   text-align: center;
				   border-radius: 8px;
				   font-size:130%;
				   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
				   left: 50%;
  					-ms-transform: translate(-50%, -50%);
				   width: 10%;"
			align="center">
        Начать!
    </button>	
</form>-->

<div align="center"
	 style="font-size:200%;
	        color:#8555a1;">
	<a href="https://neochainer.space/app/landing">НАЧАТЬ!</a>
</div>



<div style="margin-top:50px;
            bottom:0; 
			position:relative;
			height: auto;
			background: linear-gradient(#6c5f7d, black);
			width:100%;
			padding: 10px;
			color: white;
			font-family: 'Bitter', serif;"
			
	align="center">
   С уважением, команда <i>SupplyDirector</i><br>
   +7(916) 088-77-34 <br>
   +7(916) 698-27-77 <br>
   t.me/SupplyDirector
  </div> 

</body>